.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.header {
  position: relative;
  z-index: 99999;
  nav {
    width: 100%;
    height: 77px;
    color: block;
    transition: all 0.5s;
    background-color: white;
    box-shadow: var(--el-box-shadow);
    position: fixed;
    top: 0;
    @include fontStart(1.2em);
    .el-row {
      width: 100%;
      height: 100%;
      .logo_title {
        @include flex-row;
        @include flex-aCenter;
        padding-left: 2em;
        .logo_name {
          @include fontStart(1.5em, bold);
          margin-left: 0.5em;
          font-style: italic;
          font-weight: bold;
          color: $mainColor;
          letter-spacing: 2px;
        }
      }
      .pc_menu {
        display: flex;
        flex-direction: row;
        height: 100%;
        li {
          padding: 0 2em;
          @include flex-row;
          @include flex-center;
          a {
            color: block;
            text-decoration: none;
            position: relative;
            div {
              position: absolute;
              top: -50%;
              left: -50%;
              width: 0%;
              height: 200%;
              background-color: rgba(255, 255, 255, 0);
              transition: all 0.3s;
            }
            &:hover {
              div {
                width: 200%;
                background-color: rgba(255, 255, 255, 0.1);
              }
            }
          }
        }
      }
      .mobile_menu {
        height: 100%;
        position: relative;
        padding: 0 0.2em;
        @include flex-row;
        @include flex-center;
        li {
          height: 100%;
          padding: 0em 0.3em;
          @include flex-row;
          @include flex-center;
          i,
          div {
            cursor: pointer;
          }
          div {
            height: min-content;
          }
        }
        .el-tooltip__trigger {
          height: 100%;
          @include flex-row;
          @include flex-center;
        }
        .mobile_btn {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .header {
    nav {
      .el-row {
        .mobile_menu {
          padding: 0;
          li {
            padding: 0 0.3em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .header {
    nav {
      .el-row {
        .logo_title {
          padding-left: 1em;
          .logo_name {
            margin-left: 0.2em;
          }
        }
        .mobile_menu {
          padding: 0;
          li {
            padding: 0 0.1em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    nav {
      .el-row {
        .pc_menu {
          display: none;
        }
        .mobile_menu {
          .mobile_btn {
            display: flex;
            @include fontStart(2.3em);
          }
          .mobile_name {
            display: none;
          }
        }
      }
    }
  }
}
